@model PO2Sovellus.ViewModels.EtusivuViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Maistuuko?</title>
</head>
<body>
    <h1>@Model.Otsikko</h1>
    <table>
        <tr><th>Id</th><th>Nimi</th></tr>
        @foreach (var ravintola in Model.Ravintolat) {
            <tr><td>@ravintola.Id</td><td>@ravintola.Nimi</td><td>@Html.ActionLink("Näytä", "Tiedot", new { id = ravintola.Id})</td></tr>
        }
    </table>
</body>
</html>