@model PO2Sovellus.ViewModels.EtusivuViewModel

@{
    ViewBag.Title = "Maistuuko?";
}

<h1>@ViewBag.Title</h1>
@foreach (var ravintola in Model.Ravintolat) {
    @Html.Partial("_Yhteenveto", ravintola)
}

<div>
    <a class="btn btn-primary" asp-controller="Etusivu" asp-action="Uusi">Uusi ravintola</a>
</div>

@section footer {
    <div>Copyright &copy; Miika Forma, @DateTime.Now.Year</div>
}