@model PO2Sovellus.Entities.Ravintola

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Maistuuko?</title>
</head>
<body>
    @if (Model == null) {
        <h3>Ravintolaa ei löydy annetulla id-arvolla.</h3>
    }
    else {
        <h3>@Model.Nimi</h3>

        <div>@Model.Id</div>
        <br />
        @Html.ActionLink("Takaisin etusivulle", "Index")
    }
</body>
</html>