@model Sovellus.Model.Entities.Ravintola

@{
    ViewBag.Title = "Uusi";
}

<div>
    <h1>@ViewBag.Title</h1>
    <div>
        @using (Html.BeginForm()) {
            <div>
                @Html.LabelFor(m => m.Nimi)
                @Html.TextBoxFor(m => m.Nimi)
                @Html.ValidationMessageFor(m => m.Nimi)
            </div>
            <div>
                <br />
                <input type="submit" value="Lisää" />
            </div>
        }
    </div>
</div>